/* Elements */
li {

}

/* Class */
.hello {

}

/* ID */
#name {

}

/* Stars */

* {
    border: 1px solid lightblue;
}

/* Descendant Selector */

li a {
    color: red;
}

/* Adjacent Selector */

h4 + ul {
    border: 4px solid blue;
}

/* Attribute Selector */

/* input[type="text"]
    input[type="checkbox"] */

a[href="http://www.google.com"] {
    background: brown;
}

/* nth of type */

ul:nth-of-type(2) {
    background: orange;
}

li:nth-of-type(3) {
    background: blue;
}