h1 {
    text-align: center;
}

/* height 100px width 100px */
table {
    margin: auto;
}
td {
    height: 100px;
    width: 100px;
}
tr:nth-of-type(1) td:nth-of-type(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
tr:nth-of-type(2) td:nth-of-type(2) { 
    border: 2px solid black;
}
tr:nth-of-type(2) td:nth-of-type(1) {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr:nth-of-type(2) td:nth-of-type(3) {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr:nth-of-type(3) td:nth-of-type(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
