p {

/* Content - Width and Height */
width: 50%;
height: 20px;

/* Borders */
border: 2px solid blue;

/* Padding */

/* padding: 10px; */

padding-left: 50px;

/* Margin */

/* margin: 100px; */
/* margin-top: 20px; */
/*margin: 230px 140px 40px 260px; */
margin: 0 auto 0 auto;
}